.remoteWorkWrapper {
    padding: 150px 0;
    background-color: lightblue;

}

.remoteWorkWrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}

.remoteWorkWrapper > div > h2 {
    text-align: center;
}

@media (max-width: 810px) {
    .remoteWorkWrapper {
        padding: 30px 0;
    }
}
