.projectItemWrapper {
    width: 40%;
    min-width: 330px;
    border: 1px solid;
    padding: 10px;
}

.projectImg {
    background-color: coral;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectInfo {
    background-color: navajowhite;
    padding: 30px;
}

.projectTitle {
    background-color: lightslategrey;
}

.projectDecription {
    word-wrap: anywhere;
}

button {
    width: 200px;
    height: 50px;
}

@media (max-width: 430px) {
    .projectItemWrapper {
        min-width: 100%;
    }
}

